@use "../../../styles/fonts.scss";
@use "../../../styles/breakpoints.scss";

.gameplay {
  background: linear-gradient(192.1deg, #027100 39.12%, #03433f 102.59%);
  background-blend-mode: multiply;
  height: 100%;
}

.truth {
  background: linear-gradient(192.1deg, #e4a400 39.12%, #d7a700 102.59%);
  background-blend-mode: multiply;
  height: 100%;
}

.dare {
  background: linear-gradient(192.1deg, #670000 39.12%, #ba0000 102.59%);
  background-blend-mode: multiply;
  height: 100%;
}

.imgContainer {
  flex-direction: row;
  width: 100%;
  max-width: 326px;
  justify-content: space-around;
}

.instructions {
  font-family: fonts.$primary_font;
  font-style: normal;
  font-size: 24px;
  line-height: 125%;
  color: #ffffff;
  max-width: 326px;
  text-align: center;
}

.gameplay--buttons {
  width: 100%;
}
