@use "../../../styles/fonts.scss";
@use "../../../styles/breakpoints.scss";

.gameplay {
  background: linear-gradient(192.1deg, #027100 39.12%, #03433f 102.59%);
  background-blend-mode: multiply;
  height: 100vh;
}

.truth {
  background: linear-gradient(192.1deg, #e4a400 39.12%, #d7a700 102.59%);
  background-blend-mode: multiply;
  height: 100vh;
}

.dare {
  background: linear-gradient(192.1deg, #670000 39.12%, #ba0000 102.59%);
  background-blend-mode: multiply;
  height: 100vh;
}

.hide {
  display: none;
}

.show {
  margin-top: 77px;
  display: flex;
  top: 0;
  position: fixed;
}

image {
  display: flex;
}

.imgContainer {
  flex-direction: row;
  width: 100%;
  max-width: 326px;
  justify-content: space-around;
}

.instructions {
  font-family: fonts.$primary_font;
  font-style: normal;
  font-size: 24px;
  line-height: 125%;
  color: #ffffff;
  max-width: 326px;
  text-align: center;
}

#gameplay--buttons {
  width: 100%;
}

.buttonsGameStart {
  position: absolute;
  bottom: 0;
  margin-bottom: 36px;
  width: 100%;
}
