<div
  class="gameplay"
  [ngClass]="{
    gameplay: state.dare === null,
    dare: state.dare === true,
    truth: state.dare === false
  }"
>
  <div class="imgContainer">
    <img id="dare" src="../../../assets/dare.svg" />
    <img id="truth" src="../../../assets/truth.svg" />
  </div>
  <p class="instructions">{{ state.currentInstructions }}</p>
  <div class="gameplay--buttons">
    <button id="truth" class="button" type="button" (click)="showTruth()">
      truth
    </button>
    <button id="dare" class="button" type="button" (click)="showDare()">
      dare
    </button>
  </div>
</div>
