@use "../../../styles/fonts.scss";
@use "../../../styles/breakpoints.scss";
.mainEntry {
  width: 100%;
  background: linear-gradient(192.1deg, #3AB6DD 39.12%, #004382 102.59%);
  background-blend-mode: multiply;
  height: 100vh;
}
.mainEntry--intro {
  width: 100%;
  padding-bottom: 36px;
}

.mainEntry--header {
  margin-top: 29px;
}
.h1Header {
  margin: 0px;
  font-family: fonts.$primary_font;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  color: white;
  text-transform: uppercase;
}

#pHeader {
  margin: 8px 0;
  font-family: fonts.$primary_font;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.instructions {
    margin: 16px 32px;
  font-family: fonts.$secondary_font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  max-width: 326px;
}
.introContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    max-width: 326px;
}

.introHeader {
    margin-left: 32px;
  font-family: fonts.$primary_font;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

img {
    margin-right: 32px;
}

image {
  width: 100%;
}
